body{
    background-image: url(background-image.jpg);
    background-size: cover;
}
h2, p {
    color: #aa4139;
    text-align: center;
    border: 5px solid rgb(255, 176, 170);
    cursor: pointer; 
}

p{
    color: pink;
}

p{
    color: green;
}

li{
 list-style: none;
 display: inline-block;
}
 
